/*html,body{
    margin: 0px;
}
body{
    margin: 0px;
    background-color: rgba(0, 0, 0, .05);
}*/
#fond_page{
    position: fixed;
    float: left;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    z-index: -10;
    }
    #fond_page p{
        margin: 0px;
        padding: 0px;
        text-align: justify;
        font-size: 25px;
        color: rgba(0,0,0,.05);
    }
#header-inscript{
    background-color: rgba(255,0,0,.6);
    width:90%;
    padding:10px 5%;
    height: 40px;
    position: fixed;
    }
    #header-inscript h1{
        padding: 0px;
        margin: 0px;
        color:rgba(255,255, 255,.8);
        }
        #header-inscript h1 span{
            float: right;
            font-size: 20px;
            margin-top: 10px;
            color:rgba(255,255, 255,.9);
            }
            /* #header-inscript h1 span::after{
                
                } */

form{
    padding:25px 30%;
    z-index: 0;
    }
    .form_infos{
        display: flex;
        flex-direction: column;
        padding:20px 30px;
        margin-top: 60px;
        /* background-color: rgba(255,0, 0,.1); */
        background-color:#fff;
        border: 2px solid  rgba(255,0,0,.6);
        border-radius: 10px;
        box-shadow:10px 15px 1px rgba(255,0, 0,.3);
        }
        .form-items, .form_input{
            width: 90%;
            }
           
            .form-items{
                margin-top: 10px;
                font-size: 16px;
                font-style:normal;
                color: rgba(0,0, 0,.4);
                }
                #requis1::after,#requis2::after,#requis3::after,#requis4::after,#requis5::after,#requis6::after{
                    content: " *";
                    color:red;
                    }

    #inp-submit{
        /* background-color: rgb(224, 147, 32); */
        width: 100%;
        padding: .4em;
        margin: 1.2em 0px;
        border-radius: 10px;
        font-size: 1.5em;
        background-color: rgba(255,0,0,.5);
        color: #fff;
        box-shadow: 3px 6px 2px #800;
        /* color:rgb(0, 128, 0); */
        }
        #inp-submit2{
            background-color: rgba(255,0,0,.5);
            border-radius: 10px;
            width: 100%;
            padding: .3em;
            margin: 1.2em 0px;
            font-size: 1em;
            color:#fff;
            box-shadow: 3px 6px 2px #800;
            }
            #inp-submit:hover,#inp-submit2:hover{
                border:1px solid rgb(0, 135, 0);
                border-radius: 10px;
                }